@using Extensions
@using CarePoint.Custom_HtmlHelpers
@using DAL
@{
    ViewBag.Title = "Carepoint";
}
@section styles{
    <link rel="stylesheet" href="~/Content/citizen-medical-history.css" />
}
<body>
    @{ var user = User.Identity.GetCitizen();}
    @if (user is Specialist)
    {
        string id = user.Id.ToString();
        @Html.HiddenFor(usr => id, new { @Id = "iinput-usr", @Value = id })
        <h2>I am NOT a regular  citizen. I am a specialist 8) 8)</h2>
    }
    else
    {
        Response.Redirect("/Citizen/MedicalHistory/"+user.Id.ToString(),false);
    }
</body>
