.cdiv-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

#idiv-srch{
    margin-right: 7em;
    left: 5em;
    border: 1px solid #dddddd;
    border-radius: 15px;
    height: 2em;
    max-height: 2em;
}

#iinp-srch{
    border: none;
    border-radius: 15px 0px 0px 15px;
    height: inherit;
}

#ispn-srch{
    position: relative;
    border: none;
    border-left: inherit;
    background: #ffffff00;
}