#ih-curr-slots{
    margin: 1em auto;
}


.cdiv-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

input[readonly]{
    background-color: #ffffff !important;
    text-align: center;
}

.cspn-time{
    background-color: #c0fab5;
    color: #5e5e5e;
    font-size: 1.4em;
}
