.btn-group{
    padding: 0;
}

.cdiv-workslot{
    padding: 1em 0em;
    margin-bottom: 1em;
    border-bottom: 1px solid #dddddd;
}

.cdiv-timing-row{
    margin-bottom: 1.5em;
}

.cdiv-vcenter{
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.cdiv-frm-group{
    margin-bottom: 0;
}

.cspn-time{
    background-color: #9bfd88;
    color: #5e5e5e;
    font-size: 1.4em;
}

input[readonly]{
    background-color: #ffffff !important;
    text-align: center;
}

.btn-group .active{
    background-color: #9bfd88 !important;
}