.modal-header{
    padding-bottom: 0%;
    border-bottom: none;
}

.nav-tabs
{
    border-bottom: 1px solid #dddddd;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover
{
    border: 0px;
}

.nav-tabs > li > a
{
    border: none; color: #666;
}

.nav-tabs > li > a:hover
{
    color: #4285F4 !important;
    background: transparent;
}

.nav-tabs > li > a::after
{
    content: "";
    background: #4285F4;
    height: 2px;
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 0px;
    transition: all 250ms ease 0s;
    transform: scale(0);
}

.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after
{
    transform: scale(1);
}

.tab-nav > li > a::after
{
    color: #ffffff;
}

.tab-content
{
    padding: 1.5em 0em;
}