@using CarePoint.Models
@{
    ViewBag.Title = "PharmacyProfilePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Welcome In Pharmacy Profile Page
    <br/>
    <hr/>
    Pharmacy Name : @Model.Name
</h2>
