.cbtn-srch {
    width: 100%;
}
.tab-content {
    padding: 1em;
}
#ibtn-sos-pop {
    color: #d9534f;
    font-weight: bold;
    width: 100%;
    margin-bottom: 1em;
}
#idiv-srch-options{
    border: 1px solid #dddddd;
    border-radius: 1em;
}
.dropdown-menu li a:hover{
    background-color: #d4f6f7;
}
#idiv-srch-options ul{
    margin-left: 0.5em;
    margin-right: 0.5em;
}