#ih4-sort-by {
    display: inline-block;
    margin-bottom: 2rem;
}
#ili-prognosis-hdr {
    background-color: #197bb4;
    color: #ffffff;
}
.ch1-section {
    color: #386f94;
}
.cspn-radio-chck {
    display: inline-block;
    margin-left: 1rem;
}
.cli-notif {
    background-color: #d4f6f7;
}
.cdiv-disease-prognosis {
    display: flex;
    align-items: center;
}
.cdiv-meta-info {
    color: #747272;
}
.cdiv-num-victims{
    text-align: right;
}
.cspn-new-disease {
    color: #5ca15c;
}
.cspn-noticeable-disease {
    color: #ffd900;
}
.cspn-common-disease {
    color: #d64343;
}