h4{
    font-weight: bold;
}

#iimg-logo{
    display: block;
    margin: auto;
    margin-top: 3em;
    margin-bottom: 3em;
}

.input-group{
    margin-bottom: 1em;
}

.cfrm-sign-up-inp{
    margin-bottom: 1em;
}

.input-group-addon{
    background-color: #dafffa;
}

.cspn-radio-btn{
    margin-left: 1em;
}

.cdiv-err{
    margin-bottom: 1em;
}

#ifile-license, #ilbl-license{
    display: none;
}

input[type=radio]{
    cursor: pointer;
}