.modal-body
{
    height: 72vh;
    max-height: 72vh;
}

.cmodal-special-hdr{
    border-bottom: none;
    padding-bottom: 0%;
}

.cscrollbar-modal::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #7cd67c;
}