@using Microsoft.AspNet.Identity
@using CarePoint.Custom_HtmlHelpers
@using Extensions
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            <a href="/ManageController/Index" id="ilink-usr-profile" title="Manage">
                @Html.Image(User.Identity.GetCitizen().Photo, new { @Id = "iuser-img" })
                @User.Identity.GetCitizen().Name
            </a>
        </li>
        <li><a id="ilink-medical-history" href="/MedicalHistory/Index"><span class="fa fa-history fa-2x" style="color: #ffffff;"></span></a></li>
        <li><a id="ilink-attachments" href="/MedicalHistory/Attachments"><span class="fa fa-paperclip fa-2x" style="color: #ffffff;"></span></a></li>
        <li><a id="ilink-relatives" href="#"><span class="fa fa-users fa-2x" style="color: #ffffff;"></span></a></li>
        <li><a id="ilink-prognosis" href="#"><span class="fa fa-heart-o fa-2x" style="color: #ffffff;"></span></a></li>
        <li><a id="ilink-notif" href="#"><span class="fa fa-bell fa-2x" style="color: #ffffff;"></span></a></li>
        <li><a id="ilink-logout" href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-sign-out fa-2x" style="color: #ffffff;"></span></a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}
