<!-- Search account result-->
<div id="imodal-people-srch-result" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="imodal-hdr" class="modal-header">
                <button id="ibtn-close" type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#itab-non-specialists" role="tab" data-toggle="tab">Non-specialists</a></li>
                    <li role="presentation"><a href="#itab-doctors" role="tab" data-toggle="tab">Doctors</a></li>
                    <li role="presentation"><a href="#itab-pharmacists" role="tab" data-toggle="tab">Pharmacists</a></li>
                </ul>
            </div>
            <div id="imodal-bdy" class="modal-body cscrollbar-container cscrollbar-modal">
                <div class="tab-content">
                    <div id="itab-non-specialists" role="tabpanel" class="tab-pane active">
                    </div>
                    <div id="itab-doctors" role="tabpanel" class="tab-pane">
                    </div>
                    <div id="itab-pharmacists" role="tabpanel" class="tab-pane">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Search Place Result-->

<div id="imodal-place-srch-result" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="imodal-hdr" class="modal-header">
                <button  id="place-close-button" type="button" class="close"data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Places that may be suitable for you</h4>
            </div>
            <div id="imodal-bdy" class="modal-body cscrollbar-container cscrollbar-modal">
                <div id="idiv-search-place-result"></div>

            </div>
        </div>
    </div>
</div>