<div id="imodal-place-switch" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header cmodal-special-hdr">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <ul class="nav nav-tabs" role="tablist" id="iul-tabs-place-types">
                </ul>
            </div>
            <div class="modal-body cscrollbar-container cscrollbar-modal">
                <div class="tab-content">
                    <div class="cdiv-custom-alert hidden">
                        <span class="fa fa-hospital-o fa-4x"></span><br />
                        <h4>You Are Not Joined In Any WorkPlace</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
